.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 10px;
}



  
  .container {
    overflow: hidden;
    background-color: rgb(150, 14, 14);
    /* background-image: url(./svgs/background.svg); */
    text-align: center;
    position: relative; 
    width: 100%;
    z-index: 1000;
    transition: position 0.3s; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .container a::before {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 1px;
  }
  
  .container a:hover::before {
    
    width: 100%;
    transition: all 0.5s;
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
